# Data Science Tools and Ecosystem

 ##  In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R 
3. NoSQL
4. mySQL

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib in python
2. seaborn in python
3. ggplot2 in R
4. plotly in R
5. Lattice in R

| Data Science Tools |
| ------------------ |
| Pandas             |
| Tensorflow         |
| Apache Spark       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
## This a simple arithmetic expression to mutiply then add integers
3*(4)+5

17

In [11]:
## This will convert 200 minutes to hours by diving by 60
print(200/60,"hours")

3.3333333333333335 hours

**Objectives**
* Python
* R
* NoSQL
* MySQL
* PostgreSQL

## Author
Harikrishna